<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Pictory</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= histories_path %>">Histories</a></li>
        <li><a href="<%= new_history_path %>">New History</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <% if logged?%>
              <%= current_user.name%>
            <% else %>
              Ingreso
            <% end %>
             <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if logged?%>
              <li><%= link_to 'Log out', session_path(current_user), method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign in', users_sign_in_path %></li>
              <li><%= link_to 'Sign up', users_sign_up_path %></li>
            <% end %>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
